$def with(contactos)
<!--DONE: Separar el código dejando solamente el contenido del body -->
<span>
    <h1 style="text-align: center;">Contactos</h1>
</span>
<hr style="margin-bottom: 50px;">
<div style="display: flex; flex-direction: row; align-items: center; justify-content: center;">
    <table style="text-align: center;">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Email</th>
            </tr>
        </thead>
        <tbody>
            $for campo in contactos:
                <tr>
                    <th scope="row">$campo['nombre']</th>
                    <td>$campo['correo']</td>
                </tr>
        </tbody>
    </table>
</div>
